<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.avatar.thumb.url %>
  <%= image_tag @user.avatar.url %>
</p>
<p>
  <strong>expense:</strong>
  <%= @user.expenses.each do |expense| %>
    <%= expense.title %>
    <br/>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
